/*
    sass内置函数
    颜色函数：
        为某个颜色值添加透明度
        rgba($red,$green,$blue,$alpha); ||  rgba($color,$alpha);
        rgba($bgdColor,.8);
*/

/* 全局的函数*/
//定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
    font: $size $line-height $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}


/* ----colors---- */
// 文字选中时的颜色
$OnSelectColor:#fa862e;
// 黑色背景色值
$BlackBgdColor:#26272b;
// 导航的背景色
$NavBgdColor:#33363b;
// 图标的颜色
$IconColor:#bfcbd9;
// 通用背景色
$CommonBgdColor:#fff;
// 关注的背景色
$SideBarBgdColor:#62bbc3;


/* ----sizes---- */
// 侧边栏的宽度
$SidebarWidth:340px;
// 导航栏偏移的距离
$NavTranslate:60px;
// 图标的字体
$IconFontSize:16px;
$FontWeigth:600;
$LineHeight:24px;

/* ----定制---- */
 // 定制字体，颜色，行高
@mixin fswh($color){
    @include sc($IconFontSize,$color);
    font-weight: $FontWeigth;
    line-height: $LineHeight;
}