.TodoListWrp{
  width:600px;
  border:1px solid #333;
  border-radius:4px;
  margin:30px auto;
  padding:30px 40px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  .TodoForm{
    display:flex;
    justify-content: space-between;
  }
  .TodoList{

  }
  .TodoFooter{

  }
}